#####################
# Custom
#####################

# Ignore - Itoga
*.suo
*.ini
*.msi
bin/
obj/
bak/
Thumbs.db
.vs/

####################
# GitHub Defaults
####################

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.msp
*.msu