
@{
    Layout = null;
}
<script src="~/Areas/LNAS/Scripts/_LNAS0000ST.js?@(DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/javascript"></script>

<div id="breadcrumb" class="row" style="display: none;">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i>&nbsp;ホーム</h1>
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row" id="mainMenu"></div>
    <!-- end row -->
</section>