@{
    Layout = null;
}
<!-- MAIN CONTENT -->
<link rel="stylesheet" href="~/css_sys/PX/PXAS/PXAS0020WS.css?@(DateTime.Now.ToString("yyyyMMddHHmmss"))" type="text/css" />
<script src="~/js_sys/PX/PXAS0020/PXAS0021WJ.js?@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>

<div id="MenuDisplay" style="min-width: 700px;display:none;">
    <button type="button" id="ReturnBtn" class="btn btn-default">
        戻 る
    </button>
    <div id="BtnArea">
        <button id="AddGroupBtn" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;グループの追加</button>
        <button id="SaveBtn" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;保 存</button>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="" style="clear: both;">
        <!-- row -->
        <div class="row" id="mainMenu" style="overflow-y:scroll;">
            <article id="FloatGroup" class="col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueLight" role="widget" style="margin:0;">
                    <header role="heading" style="cursor: move;height:40px;">
                        <h2 class="font-md" style="line-height:40px;"><strong>未選択グループ</strong></h2>
                        <div id="SearchDiv"><div id="PartitionBorder"></div><i class="fa fa-search"></i><input type="text" id="SearchTxt" placeholder="機能名/プログラムID" /></div>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <div role="content" style="overflow-y: scroll;">
                        <div class="widget-body flex">
                            <ul id="OtherGroup" class="jquery-ui-sortable"></ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<input type="hidden" id="MenuTitle" value="@(ViewBag.TITLENM)" />
<input type="hidden" id="MENULV01" value="@(ViewBag.MENULV01)" />
<input type="hidden" id="Ins_OK" />
<input type="hidden" id="Edit_OK" />
<input type="hidden" id="Edit_NG" />